*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#eee;
}
div.style{
    display:inline-flex ;
    justify-content: center;
    align-items: center;
    padding: 2rem 3.8rem;
    width: 100%;
}
div>p.Lorem{
    background-color: var(--main-color);
    letter-spacing: 1px;
    line-height: 2;
    padding: 5px;
}
.active{
    background-color: red ;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button[class="click"]{
    cursor: pointer;
    
}